:root {
    --main-bg-color: #000;
    --main-color: rgba(255, 255, 255, 0.94);
    --main-color-triplet: 255, 255, 255;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    position: fixed;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

#root, #root * {
    position: absolute;
    outline: none;
    border: none;
    box-sizing: border-box;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

#root br, #root span, #root a {
    position: relative;
    display: inline-block;
}

#root a, #root a:hover, #root a:focus {
    color: var(--main-color);
}

::selection {
    background-color: var(--main-color);
    color: var(--main-bg-color);
}
