:root {
    --bg-color: #0e0e0e;
    --ui-color: rgba(255, 255, 255, 0.94);
    --ui-color-triplet: 255, 255, 255;
    --ui-invert-light-color: #000;
    --ui-invert-light-color-triplet: 0, 0, 0;
    --ui-invert-dark-color: rgba(255, 255, 255, 0.94);
    --ui-invert-dark-color-triplet: 255, 255, 255;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: fixed;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    background-color: var(--bg-color);
    color: var(--ui-color);
}

#root, #root * {
    position: absolute;
    outline: none;
    border: none;
    box-sizing: border-box;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

#root br, #root span, #root a {
    position: relative;
    display: inline-block;
}

#root a, #root button, #root input, #root select {
    pointer-events: auto;
}

#root a {
    color: var(--ui-color);
    text-decoration: none;
    text-underline-offset: 3px;
}

#root a:hover, #root a:focus {
    color: var(--ui-color);
    text-decoration: underline;
}

::selection {
    background-color: var(--ui-color);
    color: var(--bg-color);
}

.ui {
    font-family: 'Roboto Mono', monospace;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.03em;
}

.ui .number, .ui .primary {
    letter-spacing: 1px;
}

.ui .type, .ui .secondary {
    font-size: 10px;
    letter-spacing: 0.5px;
}
